// Tablet breakpoint
@media screen and (min-width: 768px)  {
    .site-header-bar {
        flex-direction: row;

        & .blog-description {
            text-align: left;
        }
    }

    .post-holder #our-services .post-content {
        flex-direction: row;

        & .service-item > img {
            margin: inherit;
        }
    }
}
